.appContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:2rem;

  @media only screen and (max-width: 650px) {
 flex-direction:column;
 gap:2rem;
}
}

.drinkButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: max-content;
   @media only screen and (max-width: 650px) {
width:100%;
}
}
